In [ ]:
# Setting up google drive 
from google.colab import drive
drive.mount('/content/drive')
import sys
sys.path.append('/content/drive/MyDrive/Colab Notebooks')

Mounted at /content/drive

In [ ]:
#import my_utils as mu
import torch
from torch import nn
import torch.utils.data as data_utils
from IPython import display
import math
import torchvision
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import models as models

In [ ]:
gen_data_path = '/content/drive/MyDrive/Data/MM_gen_data_lat25_beta0.2'
gen_data = torch.load(gen_data_path)

In [ ]:
full_data_tens_path = '/content/drive/MyDrive/Data/MM_tens_data'
full_data_tens = torch.load(full_data_tens_path)

In [ ]:
net25b02 = models.BernoulliVAE2(input_size=204, 
      hidden_size1=196, 
      hidden_size2=128, 
      latent_size=25)
path = '/content/drive/MyDrive/Data/VAE25_beta0.2_batch128_fold3'
net25b02.load_state_dict(torch.load(path))

In [ ]:
critereon, output, z = net25b02(full_data_tens, beta = 0.2)
output = output.round()

In [ ]:
MM_recon_data = output
path = '/content/drive/MyDrive/Data/MM_recon_data_lat25_beta0.2'
torch.save(MM_recon_data, path)

In [ ]:
full_data_tens_df = pd.DataFrame(output.detach().numpy())
full_data_tens_df
full_data_tens_df['Sum'] = full_data_tens_df.sum(axis=1)
full_data_tens_df
full_data_tens_df.describe()

,0,1,2,3,4,5,6,7,8,9,...,195,196,197,198,199,200,201,202,203,Sum
count,40469.000000,40469.000000,40469.000000,40469.000000,40469.0,40469.0,40469.000000,40469.000000,40469.000000,40469.000000,...,40469.000000,40469.000000,40469.000000,40469.000000,40469.000000,40469.000000,40469.000000,40469.000000,40469.000000,40469.000000
mean,0.000568,0.000321,0.078208,0.128222,0.0,0.0,0.181052,0.000692,0.001532,0.000124,...,0.000371,0.823865,0.058736,0.002372,0.000865,0.001656,0.022808,0.001458,0.000692,11.939385
std,0.023833,0.017920,0.268502,0.334341,0.0,0.0,0.385066,0.026295,0.039112,0.011115,...,0.019249,0.380940,0.235133,0.048648,0.029396,0.040656,0.149291,0.038155,0.026295,7.119888
min,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000
50%,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11.000000
75%,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,16.000000
max,1.000000,1.000000,1.000000,1.000000,0.0,0.0,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,125.000000

In [ ]:
gen_df = pd.DataFrame(gen_data)
gen_df
gen_df['Sum'] = gen_df.sum(axis=1)
gen_df.describe()

,0,1,2,3,4,5,6,7,8,9,...,195,196,197,198,199,200,201,202,203,Sum
count,40469.000000,40469.000000,40469.000000,40469.000000,40469.0,40469.0,40469.000000,40469.000000,40469.000000,40469.0,...,40469.000000,40469.000000,40469.000000,40469.000000,40469.000000,40469.000000,40469.000000,40469.000000,40469.000000,40469.000000
mean,0.000494,0.000074,0.101213,0.133485,0.0,0.0,0.162668,0.000173,0.001384,0.0,...,0.000025,0.839111,0.059033,0.004893,0.001013,0.001977,0.028194,0.001779,0.000964,11.930416
std,0.022226,0.008610,0.301615,0.340102,0.0,0.0,0.369067,0.013151,0.037174,0.0,...,0.004971,0.367433,0.235689,0.069777,0.031814,0.044418,0.165530,0.042143,0.031029,7.171462
min,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000
50%,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000
75%,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,16.000000
max,1.000000,1.000000,1.000000,1.000000,0.0,0.0,1.000000,1.000000,1.000000,0.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,75.000000

In [ ]:
compare_rows = pd.DataFrame({'Generated Rows': gen_df['Sum'].describe(),'Real Rows': full_data_tens_df['Sum'].describe()})
compare_rows

       Generated Rows     Real Rows
count    40469.000000  40469.000000
mean        11.930416     11.939385
std          7.171462      7.119888
min          1.000000      1.000000
25%          6.000000      7.000000
50%         10.000000     11.000000
75%         16.000000     16.000000
max         75.000000    125.000000

In [ ]:

#get disease prevelece
full_data_tens_df.loc['Total'] = full_data_tens_df.sum()
full_data_tens_df.loc['Percent'] = (full_data_tens_df.loc['Total'] / len(full_data_tens_df))*100
full_data_tens_df

,0,1,2,3,4,5,6,7,8,9,...,195,196,197,198,199,200,201,202,203,Sum
0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,16.000000
1,0.000000,0.000000,1.000000,0.000000,0.0,0.0,1.000000,1.000000,0.0000,0.000000,...,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,101.000000
2,0.000000,0.000000,0.000000,1.000000,0.0,0.0,0.000000,0.000000,0.0000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13.000000
3,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11.000000
4,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,26.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40466,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000
40467,0.000000,0.000000,0.000000,0.000000,0.0,0.0,1.000000,0.000000,0.0000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,19.000000
40468,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,16.000000
Total,23.000000,13.000000,3165.000000,5189.000000,0.0,0.0,7327.000000,28.000000,62.0000,5.000000,...,15.000000,33341.000000,2377.000000,96.000000,35.000000,67.000000,923.000000,59.000000,28.000000,483175.000000
Percent,0.056832,0.032123,7.820608,12.821843,0.0,0.0,18.104769,0.069187,0.1532,0.012355,...,0.037064,82.384483,5.873487,0.237213,0.086484,0.165555,2.280702,0.145787,0.069187,1193.909058

In [ ]:
#get disease prevelece
gen_df.loc['Total'] = gen_df.sum()
gen_df.loc['Percent'] = (gen_df.loc['Total'] / len(gen_df))*100
gen_df

,0,1,2,3,4,5,6,7,8,9,...,195,196,197,198,199,200,201,202,203,Sum
0,0.000000,0.000000,0.000000,1.000000,0.0,0.0,0.00000,0.000000,0.000000,0.0,...,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,5.000000
1,0.000000,0.000000,1.000000,0.000000,0.0,0.0,1.00000,0.000000,0.000000,0.0,...,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,8.000000
2,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00000,0.000000,0.000000,0.0,...,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,15.000000
3,0.000000,0.000000,0.000000,1.000000,0.0,0.0,0.00000,0.000000,0.000000,0.0,...,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,5.000000
4,0.000000,0.000000,0.000000,1.000000,0.0,0.0,0.00000,0.000000,0.000000,0.0,...,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,17.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40466,0.000000,0.000000,0.000000,1.000000,0.0,0.0,1.00000,0.000000,0.000000,0.0,...,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,28.000000
40467,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00000,0.000000,0.000000,0.0,...,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,10.000000
40468,0.000000,0.000000,0.000000,1.000000,0.0,0.0,0.00000,0.000000,0.000000,0.0,...,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,9.000000
Total,20.000000,3.000000,4096.000000,5402.000000,0.0,0.0,6583.00000,7.000000,56.000000,0.0,...,1.000000,33958.000000,2389.000000,198.000000,41.00000,80.000000,1141.000000,72.00000,39.000000,482812.000000
Percent,0.049419,0.007413,10.121077,13.348159,0.0,0.0,16.26637,0.017297,0.138374,0.0,...,0.002471,83.909068,5.903138,0.489251,0.10131,0.197677,2.819372,0.17791,0.096368,1193.012108

In [ ]:
gen_df

,0,1,2,3,4,5,6,7,8,9,...,195,196,197,198,199,200,201,202,203,Sum
0,0.000000,0.000000,0.000000,1.000000,0.0,0.0,0.00000,0.000000,0.000000,0.0,...,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,5.000000
1,0.000000,0.000000,1.000000,0.000000,0.0,0.0,1.00000,0.000000,0.000000,0.0,...,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,8.000000
2,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00000,0.000000,0.000000,0.0,...,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,15.000000
3,0.000000,0.000000,0.000000,1.000000,0.0,0.0,0.00000,0.000000,0.000000,0.0,...,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,5.000000
4,0.000000,0.000000,0.000000,1.000000,0.0,0.0,0.00000,0.000000,0.000000,0.0,...,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,17.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40466,0.000000,0.000000,0.000000,1.000000,0.0,0.0,1.00000,0.000000,0.000000,0.0,...,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,28.000000
40467,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00000,0.000000,0.000000,0.0,...,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,10.000000
40468,0.000000,0.000000,0.000000,1.000000,0.0,0.0,0.00000,0.000000,0.000000,0.0,...,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,9.000000
Total,20.000000,3.000000,4096.000000,5402.000000,0.0,0.0,6583.00000,7.000000,56.000000,0.0,...,1.000000,33958.000000,2389.000000,198.000000,41.00000,80.000000,1141.000000,72.00000,39.000000,482812.000000
Percent,0.049419,0.007413,10.121077,13.348159,0.0,0.0,16.26637,0.017297,0.138374,0.0,...,0.002471,83.909068,5.903138,0.489251,0.10131,0.197677,2.819372,0.17791,0.096368,1193.012108

In [ ]:
prevelance_diff = gen_df.loc['Percent'] - full_data_tens_df.loc['Percent']
prevelance_diff.mean()

-0.008750770927948338

In [ ]:
missing_data = gen_df.loc[:, (gen_df == 0).all()]
missing_data

,4,5,9,16,26,50,62,70,71,74,...,129,147,156,167,172,175,178,185,191,192
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40466,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40467,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40468,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Total,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Percent,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0